.App {
  text-align: center;
}

html {
  height: 100%;
}

body {
  height: 100%;
  /* background-color: #eeeeee; */
}

#root {
  height: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
